
.parent{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    background-color: #333;
    margin: auto;
    font-family: 'Inter var',sans-serif;
    margin-top: 100px;

}
.parent div{
    flex-basis: 50%;
padding-left: 80px;
margin-right: -20px;

}.parent h4{
    text-align: left;
    color: whitesmoke;
    line-height: 10px;
    font-weight: lighter;
}.parent h3{
    font-weight: bold;
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 0px;
}.offer{
    color: whitesmoke;
    background-color: #333333;

 
}.hr{
    width: 89%;
    margin-top: -120px;
 color: #333333;
}.play{
    border: 1px solid whitesmoke;
    height: 50px;
    width:200px;
    margin-left: 84px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
 
}.playy{
    text-decoration: none;
    color: whitesmoke;
 

}.icon{
    margin-top: -38px;
}
#ic{
    text-decoration: none;
color: whitesmoke;
margin-left: 10px;


}#ic1{
    color: whitesmoke;
    margin-left: 320px;
}.copy{
    margin-left: 81%;
    margin-top: -15px;
    color: whitesmoke;
}.clear{
    clear: both;
}