body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color:white;
    box-shadow: 0 2px 3px -1px rgb(175, 169, 169);
    height: 80px;
    margin-top: 15px;
  }
  .logo{
      float: left;
    text-align: center;
    padding: 2px 3px;
   text-decoration: none;
   margin-left: 120px;
  
  
  }
  .logo img{
    size: 40px;
    width: 110px;
  
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: 15px;
  }
  
   .dropdown:hover .dropbtn {
  color:blue;
  border-bottom: 2px solid blue;
  
  }
  .navbar a:hover{
    color: blue;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e0e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  span{
    background-color: orange;
    border-radius: 3px;
    padding: 4px 5px;
    margin-left: 13px;
  }.register{
    border: 1px solid #00a5ec;
    color: white;
    background-color: #00a5ec;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
  margin-right: 160px;
  width: 110px;
  font-size: 15px;
  margin-top: 20px;
  
  }.login{
  text-decoration: none;
    border: 1px solid #00a5ec;
    background-color: white;
  border-radius: 4px;
  height: 43px;
  font-weight: bold;
   margin-top: 15px;
  margin-right: 12px;
  width: 80px;
  font-size: 15px;
  float: left;
  }.login a{
      color:#00a5ec ;
  }.srch{
      height: 53px;
      width: 50px;
  }.inlog{
      margin-top: -13px;
  }